{% extends 'layouts/base.html.twig' %}


{% block body %}
	<h1>Edit Pin #{{pin.id}}</h1>
	{{ include ("pins/_form.html.twig", {'submitButtonText': 'Update Pin'}) }}

{% endblock %}


{% block title "Edit Pin #" ~ pin.id %}
